[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.7.0"
flask = "*"
sentencepiece = "*"
gensim = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.7"
