certifi==2020.11.8
chardet==3.0.4
click==7.1.2
dataclasses==0.6
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
requests==2.25.0
scipy==1.5.4
sentencepiece==0.1.94
six==1.15.0
smart-open==3.0.0
torch==1.7.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
